﻿<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #sampleEntityForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="sampleEntity.id">{{l("EditSampleEntity")}}</span>
                        <span *ngIf="!sampleEntity.id">{{l("CreateNewSampleEntity")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="SampleEntity_Title">{{l("Title")}} *</label>
									<input type="text" id="SampleEntity_Title" class="form-control" [(ngModel)]="sampleEntity.title" name="Title"   minlength="5"  maxlength="200"  required/>
								</div>
					
								<div class="form-group">
									<label for="SampleEntity_Description">{{l("Description")}}</label>
									<input type="text" id="SampleEntity_Description" class="form-control" [(ngModel)]="sampleEntity.description" name="Description"    />
								</div>
					
								<div class="form-group">
									<label for="SampleEntity_FieldRequired">{{l("FieldRequired")}} *</label>
									<input type="text" id="SampleEntity_FieldRequired" class="form-control" [(ngModel)]="sampleEntity.fieldRequired" name="FieldRequired"     required/>
								</div>
					
								<div class="form-group">
									<label for="SampleEntity_Field">{{l("Field")}}</label>
									<input type="text" id="SampleEntity_Field" class="form-control" [(ngModel)]="sampleEntity.field" name="Field"    />
								</div>
					
								<div class="form-group">
									<label for="SampleEntity_FieldDecimalNull">{{l("FieldDecimalNull")}}</label>
									<input type="number" id="SampleEntity_FieldDecimalNull" class="form-control" [(ngModel)]="sampleEntity.fieldDecimalNull" name="FieldDecimalNull"  />
								</div>
					
								<div class="form-group">
									<label for="SampleEntity_FieldDoubleNull">{{l("FieldDoubleNull")}}</label>
									<input type="number" id="SampleEntity_FieldDoubleNull" class="form-control" [(ngModel)]="sampleEntity.fieldDoubleNull" name="FieldDoubleNull"  />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!sampleEntityForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>