﻿<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("SampleEntities")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("SampleEntitiesHeaderInfo")}}
                </span>
            </div>
            <div class="col-md-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.SampleEntities.Create')" (click)="createSampleEntity()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewSampleEntity")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getSampleEntities()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="TitleFilter">{{l("Title")}}</label>
									<input type="text" id="TitleFilter" class="form-control" name="titleFilter" [(ngModel)]="titleFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="DescriptionFilter">{{l("Description")}}</label>
									<input type="text" id="DescriptionFilter" class="form-control" name="descriptionFilter" [(ngModel)]="descriptionFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="FieldRequiredFilter">{{l("FieldRequired")}}</label>
									<input type="text" id="FieldRequiredFilter" class="form-control" name="fieldRequiredFilter" [(ngModel)]="fieldRequiredFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="FieldFilter">{{l("Field")}}</label>
									<input type="text" id="FieldFilter" class="form-control" name="fieldFilter" [(ngModel)]="fieldFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinFieldDecimalNullFilter">{{l("MinMax")}} {{l("FieldDecimalNull")}}</label>
									<div class="input-group">
                                        <input type="number" id="MinFieldDecimalNullFilter" class="form-control" [(ngModel)]="minFieldDecimalNullFilter" placeholder="{{l('MinValue')}}" name="minFieldDecimalNullFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxFieldDecimalNullFilter" placeholder="{{l('MaxValue')}}" name="maxFieldDecimalNullFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinFieldDoubleNullFilter">{{l("MinMax")}} {{l("FieldDoubleNull")}}</label>
									<div class="input-group">
                                        <input type="number" id="MinFieldDoubleNullFilter" class="form-control" [(ngModel)]="minFieldDoubleNullFilter" placeholder="{{l('MinValue')}}" name="minFieldDoubleNullFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxFieldDoubleNullFilter" placeholder="{{l('MaxValue')}}" name="maxFieldDoubleNullFilter" />
									</div>
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengDatatableHelper.isLoading">
                        <p-dataTable #dataTable
                                     (onLazyLoad)="getSampleEntities($event)"
                                     [value]="primengDatatableHelper.records"
                                     rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     emptyMessage="{{l('NoData')}}"
                                     scrollable="true"
                                     ScrollWidth="100%"
                                     responsive="primengDatatableHelper.isResponsive"
                                     resizableColumns="primengDatatableHelper.resizableColumns">

                            <p-column field=""
                                      header="{{l('Actions')}}"
                                      [sortable]="false"
                                      [style]="{'width':'130px','text-align':'center'}"
									  [hidden]="!isGrantedAny('Pages.SampleEntities.Edit', 'Pages.SampleEntities.Delete')">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <div class="btn-group dropdown" normalizePosition>
                                        <button class="dropdown-toggle btn btn-sm btn-primary"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                        </button>
                                        <ul class="dropdown-menu">
										    <li>
                                                <a 
                                                   (click)="viewSampleEntityModal.show(record)">{{l('View')}}</a>
                                            </li>
                                            <li>
                                                <a *ngIf="permission.isGranted('Pages.SampleEntities.Edit')"
                                                   (click)="createOrEditSampleEntityModal.show(record.sampleEntity.id)">{{l('Edit')}}</a>
                                            </li>
                                            <li>
                                                <a *ngIf="permission.isGranted('Pages.SampleEntities.Delete')"
                                                   (click)="deleteSampleEntity(record.sampleEntity)">{{l('Delete')}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </p-column>




					<p-column field="sampleEntity.title" header="{{l('Title')}}" [sortable]="true"></p-column> 

					<p-column field="sampleEntity.description" header="{{l('Description')}}" [sortable]="true"></p-column> 

					<p-column field="sampleEntity.fieldRequired" header="{{l('FieldRequired')}}" [sortable]="true"></p-column> 

					<p-column field="sampleEntity.field" header="{{l('Field')}}" [sortable]="true"></p-column> 

					<p-column field="sampleEntity.fieldDecimalNull" header="{{l('FieldDecimalNull')}}" [sortable]="true"></p-column> 

					<p-column field="sampleEntity.fieldDoubleNull" header="{{l('FieldDoubleNull')}}" [sortable]="true"></p-column> 



                        </p-dataTable>


                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getSampleEntities($event)"
                                         [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditSampleEntityModal #createOrEditSampleEntityModal (modalSave)="getSampleEntities()"></createOrEditSampleEntityModal>
    <viewSampleEntityModal #viewSampleEntityModal></viewSampleEntityModal>
</div>