<div [@routerTransition]>
    <div id="HostDashboard">
        <div class="m-subheader">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("ITDashboard")}}</span>
                    </h3>
                    <span class="m-section__sub">
                    {{l("HostDashboardHeaderInfo")}}
                  </span>
                </div>
                <div class="d-block">
                    <mat-form-field>
                        <mat-select [(ngModel)]="currentYear" (change)="getNewData()">
                            <mat-option *ngFor="let year of years" [value]="year">
                                {{ year }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


            </div>
        </div>
        <div class="m-content">
            <div class="m-portlet">
                <div class="m-portlet__body  m-portlet__body--no-padding">
                    <div class="row m-row--no-padding m-row--col-separator-xl">
                        <div class="col-md-12 col-lg-6 col-xl-3">
                            <div class="m-widget24">
                                <div class="m-widget24__item">
                                    <h4 class="m-widget24__title">
                                        {{l("TotalBudgetedAmount")}}
                                    </h4>
                                    <br>
                                    <span
                                        class="m-widget24__stats m--font-brand m-0 px-2">
                                        RM <span>{{dashboardIt.totalBudgeted | mask:'comma_separator.2'}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-3">
                            <div class="m-widget24">
                                <div class="m-widget24__item">
                                    <h4 class="m-widget24__title">
                                        {{l("TotalBudgetBalance")}}
                                    </h4>
                                    <br>
                                    <span
                                        class="m-widget24__stats m--font-brand m-0 px-2">
                                        RM <span>{{dashboardIt.balanceBudgetd | mask:'comma_separator.2'}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-3">
                            <div class="m-widget24">
                                <div class="m-widget24__item">
                                    <h4 class="m-widget24__title">
                                        {{l("TotalUtilized")}}
                                    </h4>
                                    <br>
                                    <span
                                        class="m-widget24__stats m--font-brand m-0 px-2">
                                        RM <span>{{dashboardIt.totalBudgetUtilized | mask:'comma_separator.2'}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-3">
                            <div class="m-widget24">
                                <div class="m-widget24__item">
                                    <h4 class="m-widget24__title">
                                        {{l("TotalUnbudgetedAmount")}}
                                    </h4>
                                    <br>
                                    <span
                                        class="m-widget24__stats m--font-brand m-0 px-2">
                                        RM <span>{{dashboardIt.totalUnbudgeted | mask:'comma_separator.2'}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="m-portlet m-portlet--full-height expiring-tenants">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-porlet__head-title">
                                    <div class="m-portlet__head-text">
                                        <span class="caption-subject bold">{{l("OPEXBudgetSummary")}}</span>
                                        <small><span class="span caption-helper">{{currentYear}}</span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <ngx-charts-advanced-pie-chart
                                class="chart-container"
                                [results]="opexPie"
                                (select)="selectPie()"
                            >
                            </ngx-charts-advanced-pie-chart>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="m-portlet m-portlet--full-height expiring-tenants">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-porlet__head-title">
                                    <div class="m-portlet__head-text">
                                        <span class="caption-subject bold">{{l("CAPEXBudgetSummary")}}</span>
                                        <small><span class="span caption-helper">{{currentYear}}</span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <ngx-charts-advanced-pie-chart
                                class="chart-container"
                                [results]="capexPie"
                                [scheme]="colorScheme"
                            >
                            </ngx-charts-advanced-pie-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--        Table -->
<!--        <div class="m-content">-->
<!--            <div class="row">-->
<!--                <div class="col-md-6 col-sm-12" *ngIf="opexData.length > 0">-->
<!--                    <div class="m-portlet m-portlet&#45;&#45;full-height expiring-tenants">-->
<!--                        <div class="m-portlet__head">-->
<!--                            <div class="m-portlet__head-caption">-->
<!--                                <div class="m-porlet__head-title">-->
<!--                                    <div class="m-portlet__head-text">-->
<!--                                        <span class="caption-subject bold">{{l("OPEXBudgetSummary")}}</span>-->
<!--                                        <small><span class="span caption-helper">{{currentYear}}</span></small>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="m-portlet__body pt-0">-->
<!--                            <div class="row align-items-center mt-3">-->
<!--                                &lt;!&ndash;<Primeng-Datatable-Start>&ndash;&gt;-->
<!--                                <div class="primeng-datatable-container"-->
<!--                                     [busyIf]="primengDatatableHelper.isLoading">-->
<!--                                    <p-dataTable #dataTable-->
<!--                                                 (onLazyLoad)="getOpexBudgetSummary($event)"-->
<!--                                                 [value]="primengDatatableHelper.records"-->
<!--                                                 rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"-->
<!--                                                 [paginator]="false"-->
<!--                                                 [lazy]="true"-->
<!--                                                 emptyMessage="{{l('NoData')}}"-->
<!--                                                 scrollable="true"-->
<!--                                                 ScrollWidth="95%"-->
<!--                                                 responsive="primengDatatableHelper.isResponsive"-->
<!--                                                 resizableColumns="primengDatatableHelper.resizableColumns">-->

<!--                                        <p-column field="unit" header="{{l('Department')}}"-->
<!--                                                  [sortable]="true" [style]="{'width':'200px'}"></p-column>-->

<!--                                        <p-column field="totalBudget" header="{{l('TotalBudget')}}" [sortable]="true"-->
<!--                                                  [style]="{'width':'200px'}"></p-column>-->

<!--                                        <p-column field="totalUtilize" header="{{l('TotalUtilize')}}"-->
<!--                                                  [sortable]="true" [style]="{'width':'220px'}"></p-column>-->

<!--                                    </p-dataTable>-->


<!--                                    <div class="primeng-paging-container">-->
<!--                                        <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"-->
<!--                                                     #paginator-->
<!--                                                     (onPageChange)="getOpexBudgetSummary($event)"-->
<!--                                                     [totalRecords]="primengDatatableHelper.totalRecordsCount"-->
<!--                                                     [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">-->
<!--                                        </p-paginator>-->
<!--                                        <span class="total-records-count">-->
<!--                                            {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}-->
<!--                                        </span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash;<Primeng-Datatable-End>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--&lt;!&ndash;                <div class="col-md-6 col-sm-12">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="m-portlet m-portlet&#45;&#45;full-height expiring-tenants">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="m-portlet__head">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="m-portlet__head-caption">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="m-porlet__head-title">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="m-portlet__head-text">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <span&ndash;&gt;-->
<!--&lt;!&ndash;                                            class="caption-subject bold">CAPEX Budget Summary</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <small><span class="span caption-helper">2019</span></small>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="m-portlet__body pt-0">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="row align-items-center mt-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                &lt;!&ndash;<Primeng-Datatable-Start>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="primeng-datatable-container"&ndash;&gt;-->
<!--&lt;!&ndash;                                     [busyIf]="primengDatatableHelper.isLoading">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <p-dataTable #dataTable&ndash;&gt;-->
<!--&lt;!&ndash;                                                 (onLazyLoad)="getCapexBudgetSummary($event)"&ndash;&gt;-->
<!--&lt;!&ndash;                                                 [value]="primengDatatableHelper.records"&ndash;&gt;-->
<!--&lt;!&ndash;                                                 rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                 [paginator]="false"&ndash;&gt;-->
<!--&lt;!&ndash;                                                 [lazy]="true"&ndash;&gt;-->
<!--&lt;!&ndash;                                                 emptyMessage="{{l('NoData')}}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                 scrollable="true"&ndash;&gt;-->
<!--&lt;!&ndash;                                                 ScrollWidth="100%"&ndash;&gt;-->
<!--&lt;!&ndash;                                                 responsive="primengDatatableHelper.isResponsive"&ndash;&gt;-->
<!--&lt;!&ndash;                                                 resizableColumns="primengDatatableHelper.resizableColumns">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <p-column field="unit" header="{{l('Department')}}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                  [sortable]="true" [style]="{'width':'200px'}"></p-column>&ndash;&gt;-->

<!--&lt;!&ndash;                                        <p-column field="totalBudget" header="{{l('TotalBudget')}}" [sortable]="true"&ndash;&gt;-->
<!--&lt;!&ndash;                                                  [style]="{'width':'200px'}"></p-column>&ndash;&gt;-->

<!--&lt;!&ndash;                                        <p-column field="totalUtilize" header="{{l('TotalUtilize')}}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                  [sortable]="true" [style]="{'width':'220px'}"></p-column>&ndash;&gt;-->

<!--&lt;!&ndash;                                    </p-dataTable>&ndash;&gt;-->


<!--&lt;!&ndash;                                    <div class="primeng-paging-container">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                     #paginator&ndash;&gt;-->
<!--&lt;!&ndash;                                                     (onPageChange)="getCapexBudgetSummary($event)"&ndash;&gt;-->
<!--&lt;!&ndash;                                                     [totalRecords]="primengDatatableHelper.totalRecordsCount"&ndash;&gt;-->
<!--&lt;!&ndash;                                                     [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">&ndash;&gt;-->
<!--&lt;!&ndash;                                        </p-paginator>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <span class="total-records-count">&ndash;&gt;-->
<!--&lt;!&ndash;                                            {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}&ndash;&gt;-->
<!--&lt;!&ndash;                                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                &lt;!&ndash;<Primeng-Datatable-End>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
