<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #glCodeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="glCode.id">{{l("EditGLCode")}}</span>
                        <span *ngIf="!glCode.id">{{l("CreateNewGLCode")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="GLCode_Code">{{l("Code")}}</label>
                        <input type="text" id="GLCode_Code" class="form-control" [(ngModel)]="glCode.code" name="Code"
                            (change)="checkGLCode($event.target.value)" />
                        <div *ngIf="!glCodeUnique" class="form-control-feedback has-danger">
                            GL Code already register
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="GLCode_Description">{{l("Description")}}</label>
                        <input type="text" id="GLCode_Description" class="form-control" [(ngModel)]="glCode.description"
                            name="Description" />
                    </div>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button *ngIf="glCodeUnique" type="submit" class="btn btn-primary blue"
                        [disabled]="!glCodeForm.form.valid" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>

                    <button *ngIf="!glCodeUnique" type="button" class="btn btn-success">
                        <span>{{l("Check")}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
