<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Unbudgeted")}}</span>
                </h3>
            </div>
            <div class="col-md-6 text-right">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="far fa-file-excel"></i>
                    {{l("ExportToExcel")}}</button>
                <!--                <button *ngIf="isGranted('Pages.Budgets.Create')" (click)="createBudget('unbudgeted')"-->
                <!--                        class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewBudget")}}</button>-->
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="remarkFilter" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getBudgets()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12">
                                <div class="m-separator m-separator--dashed"></div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="BudgetTypeFilter">{{l("BudgetType")}}</label>
                                    <select id="BudgetTypeFilter" class="form-control" required
                                        [(ngModel)]="budgetTypeFilter" name="budgetTypeFilter">
                                        <option value=""></option>
                                        <option *ngFor="let item of budgetTypes" value="{{item}}">{{item}}</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="OrganizationUnitDisplayNameFilter">{{l("OrganizationUnit")}}</label>
                                    <select id="OrganizationUnitDisplayNameFilter" class="form-control" required
                                        [(ngModel)]="organizationUnitFilter" name="OrganizationUnitDisplayNameFilter">
                                        <option value=""></option>
                                        <option *ngFor="let item of departments" value="{{item.displayName}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="BudgetYearFilter">{{l("Year")}}</label>
                                    <input type="text" class="form-control" id="BudgetYearFilter"
                                        name="budgetYearFilter" [(ngModel)]="budgetYearFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                        <p-dataTable #dataTable (onLazyLoad)="getBudgets($event)"
                            [value]="primengDatatableHelper.records"
                            rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                            [lazy]="true" emptyMessage="{{l('NoData')}}" scrollable="true" ScrollWidth="100%"
                            responsive="primengDatatableHelper.isResponsive"
                            resizableColumns="primengDatatableHelper.resizableColumns">

                            <p-column field="" header="{{l('Actions')}}" [sortable]="false"
                                [style]="{'width':'130px','text-align':'center'}"
                                [hidden]="!isGrantedAny('Pages.Budgets.Edit', 'Pages.Budgets.Delete')">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <button class="btn btn-sm btn-primary" type="button"
                                        (click)="viewBudgetModal.show(record.id)">
                                        <span class="caret"></span> {{l("View")}}
                                    </button>
                                </ng-template>
                            </p-column>

                            <!-- Budget Type -->
                            <p-column field="budgetType" header="{{l('BudgetType')}}" [sortable]="true"
                                [style]="{'width':'200px'}"></p-column>

                            <!-- GLCode -->
                            <p-column field="glCode.code" header="{{l('GLCode')}}" [sortable]="true"
                                [style]="{'width':'280px'}" *ngIf="budgetCategory == 'Budgeted'">
                                <ng-template let-col let-item="rowData" pTemplate="body">
                                    {{item.glCode.code}} - {{item.glCode.description}}
                                </ng-template>
                            </p-column>

                            <!-- Description/Remark -->
                            <p-column field="remark" header="{{l('Remark')}}" [sortable]="true"
                                [style]="{'width':'280px'}"></p-column>

                            <!-- BudgetAmount -->
                            <p-column field="budgetAmount" header="{{l('BudgetAmount')}}" [sortable]="true"
                                [style]="{'width':'200px'}">
                                <ng-template let-col let-item="rowData" pTemplate="body">
                                    RM {{item.budgetAmount | mask:'comma_separator.2'}}
                                </ng-template>
                            </p-column>

                            <!-- Department -->
                            <p-column field="organizationUnit.displayName" header="{{l('OrganizationUnit')}}"
                                [sortable]="true" [style]="{'width':'200px'}"></p-column>

                            <!-- Year -->
                            <p-column field="budgetYear" header="{{l('BudgetYear')}}" [sortable]="true"
                                [style]="{'width':'200px'}"></p-column>









                        </p-dataTable>


                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}" #paginator
                                (onPageChange)="getBudgets($event)"
                                [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditBudgetModal #createOrEditBudgetModal (modalSave)="getBudgets()"></createOrEditBudgetModal>
    <viewBudgetModal #viewBudgetModal></viewBudgetModal>
</div>
