<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("BudgetUses")}}</span>
                </h3>
                <!--                <span class="m-section__sub">-->
                <!--                    {{l("BudgetUsesHeaderInfo")}}-->
                <!--                </span>-->
            </div>
            <div class="col-md-6 text-right">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i
                    class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.BudgetUses.Create')" (click)="createBudgetUse()"
                        class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewBudgetUse")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                               class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                               type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getBudgetUses()" class="btn btn-primary" type="submit"><i
                                                class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12">
                                <div class="m-separator m-separator--dashed"></div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="DescriptionFilter">{{l("Description")}}</label>
                                    <input type="text" id="DescriptionFilter" class="form-control"
                                           name="descriptionFilter" [(ngModel)]="descriptionFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinRequestAmountFilter">{{l("MinMax")}} {{l("RequestAmount")}}</label>
                                    <div class="input-group">
                                        <input type="number" id="MinRequestAmountFilter" class="form-control"
                                               [(ngModel)]="minRequestAmountFilter" placeholder="{{l('MinValue')}}"
                                               name="minRequestAmountFilter"/>
                                        <input type="number" class="form-control" [(ngModel)]="maxRequestAmountFilter"
                                               placeholder="{{l('MaxValue')}}" name="maxRequestAmountFilter"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinActualAmountFilter">{{l("MinMax")}} {{l("ActualAmount")}}</label>
                                    <div class="input-group">
                                        <input type="number" id="MinActualAmountFilter" class="form-control"
                                               [(ngModel)]="minActualAmountFilter" placeholder="{{l('MinValue')}}"
                                               name="minActualAmountFilter"/>
                                        <input type="number" class="form-control" [(ngModel)]="maxActualAmountFilter"
                                               placeholder="{{l('MaxValue')}}" name="maxActualAmountFilter"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="UseStatusNameFilter">({{l("UseStatus")}}) {{l("Name")}}</label>
                                    <input type="text" class="form-control" id="UseStatusNameFilter"
                                           name="useStatusNameFilter" [(ngModel)]="useStatusNameFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="BudgetDescriptionFilter">({{l("Budget")}}) {{l("Description")}}</label>
                                    <input type="text" class="form-control" id="BudgetDescriptionFilter"
                                           name="budgetDescriptionFilter" [(ngModel)]="budgetDescriptionFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                      (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                    class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                      (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                    class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengDatatableHelper.isLoading">
                        <p-dataTable #dataTable
                                     (onLazyLoad)="getBudgetUses($event)"
                                     [value]="primengDatatableHelper.records"
                                     rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     emptyMessage="{{l('NoData')}}"
                                     scrollable="true"
                                     ScrollWidth="100%"
                                     responsive="primengDatatableHelper.isResponsive"
                                     resizableColumns="primengDatatableHelper.resizableColumns">

                            <p-column field=""
                                      header="{{l('Actions')}}"
                                      [sortable]="false"
                                      [style]="{'width':'130px','text-align':'center'}"
                                      [hidden]="!isGrantedAny('Pages.BudgetUses.Edit', 'Pages.BudgetUses.Delete')">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <div class="btn-group dropdown" normalizePosition>
                                        <button class="dropdown-toggle btn btn-sm btn-primary"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a
                                                    (click)="viewBudgetUseModal.show(record)">{{l('View')}}</a>
                                            </li>
                                            <li>
                                                <a *ngIf="permission.isGranted('Pages.BudgetUses.Edit') && record.requestStatus === 'Submitted'"
                                                   (click)="createOrEditBudgetUseModal.show(record.id)">{{l('Edit')}}</a>
                                            </li>
                                            <li>
                                                <a *ngIf="permission.isGranted('Pages.BudgetUses.Edit') && record.requestStatus === 'Submitted'"
                                                   (click)="createOrEditBudgetUseModal.show(record.id)">{{l('Edit')}}</a>
                                            </li>
                                            <li>
                                                <a *ngIf="permission.isGranted('Pages.BudgetUses.Delete') && record.requestStatus === 'Submitted'"
                                                   (click)="deleteBudgetUse(record.budgetUse)">{{l('Delete')}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </p-column>


                            <p-column field="description" header="{{l('Description')}}" [sortable]="true"></p-column>

                            <p-column field="requestAmount" header="{{l('RequestAmount')}}" [sortable]="true"
                                      [style]="{'width':'280px'}"></p-column>

                            <p-column field="paperStatus" header="{{l('PaperStatus')}}" [sortable]="true"></p-column>

                            <p-column field="requestStatus" header="{{l('RequestStatus')}}"
                                      [sortable]="true"></p-column>

                            <p-column field="actualAmount" header="{{l('ActualAmount')}}" [sortable]="true"></p-column>

                            <p-column field="creationTime" header="{{l('Year')}}" [sortable]="true">
                                <ng-template let-record="rowData" pTemplate="body">
                                    {{record.creationTime.Year}}
                                </ng-template>
                            </p-column>

                        </p-dataTable>


                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getBudgetUses($event)"
                                         [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditBudgetUseModal #createOrEditBudgetUseModal (modalSave)="getBudgetUses()"></createOrEditBudgetUseModal>
    <viewBudgetUseModal #viewBudgetUseModal></viewBudgetUseModal>
</div>
