<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("BudgetApprovers")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("BudgetApproversHeaderInfo")}}
                </span>
            </div>
            <div class="col-md-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.BudgetApprovers.Create')" (click)="createBudgetApprover()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewBudgetApprover")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getBudgetApprovers()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinUserIdFilter">{{l("MinMax")}} {{l("UserId")}}</label>
									<div class="input-group">
                                        <input type="number" id="MinUserIdFilter" class="form-control" [(ngModel)]="minUserIdFilter" placeholder="{{l('MinValue')}}" name="minUserIdFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxUserIdFilter" placeholder="{{l('MaxValue')}}" name="maxUserIdFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinBudgetUseIdFilter">{{l("MinMax")}} {{l("BudgetUseId")}}</label>
									<div class="input-group">
                                        <input type="number" id="MinBudgetUseIdFilter" class="form-control" [(ngModel)]="minBudgetUseIdFilter" placeholder="{{l('MinValue')}}" name="minBudgetUseIdFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxBudgetUseIdFilter" placeholder="{{l('MaxValue')}}" name="maxBudgetUseIdFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinBudgetIdFilter">{{l("MinMax")}} {{l("BudgetId")}}</label>
									<div class="input-group">
                                        <input type="number" id="MinBudgetIdFilter" class="form-control" [(ngModel)]="minBudgetIdFilter" placeholder="{{l('MinValue')}}" name="minBudgetIdFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxBudgetIdFilter" placeholder="{{l('MaxValue')}}" name="maxBudgetIdFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinUseStatusIdFilter">{{l("MinMax")}} {{l("UseStatusId")}}</label>
									<div class="input-group">
                                        <input type="number" id="MinUseStatusIdFilter" class="form-control" [(ngModel)]="minUseStatusIdFilter" placeholder="{{l('MinValue')}}" name="minUseStatusIdFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxUseStatusIdFilter" placeholder="{{l('MaxValue')}}" name="maxUseStatusIdFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinRequestAmountFilter">{{l("MinMax")}} {{l("RequestAmount")}}</label>
									<div class="input-group">
                                        <input type="number" id="MinRequestAmountFilter" class="form-control" [(ngModel)]="minRequestAmountFilter" placeholder="{{l('MinValue')}}" name="minRequestAmountFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxRequestAmountFilter" placeholder="{{l('MaxValue')}}" name="maxRequestAmountFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinActualAmountFilter">{{l("MinMax")}} {{l("ActualAmount")}}</label>
									<div class="input-group">
                                        <input type="number" id="MinActualAmountFilter" class="form-control" [(ngModel)]="minActualAmountFilter" placeholder="{{l('MinValue')}}" name="minActualAmountFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxActualAmountFilter" placeholder="{{l('MaxValue')}}" name="maxActualAmountFilter" />
									</div>
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengDatatableHelper.isLoading">
                        <p-dataTable #dataTable
                                     (onLazyLoad)="getBudgetApprovers($event)"
                                     [value]="primengDatatableHelper.records"
                                     rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     emptyMessage="{{l('NoData')}}"
                                     scrollable="true"
                                     ScrollWidth="100%"
                                     responsive="primengDatatableHelper.isResponsive"
                                     resizableColumns="primengDatatableHelper.resizableColumns">

                            <p-column field=""
                                      header="{{l('Actions')}}"
                                      [sortable]="false"
                                      [style]="{'width':'130px','text-align':'center'}"
									  [hidden]="!isGrantedAny('Pages.BudgetApprovers.Edit', 'Pages.BudgetApprovers.Delete')">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <div class="btn-group dropdown" normalizePosition>
                                        <button class="dropdown-toggle btn btn-sm btn-primary"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                        </button>
                                        <ul class="dropdown-menu">
										    <li>
                                                <a 
                                                   (click)="viewBudgetApproverModal.show(record)">{{l('View')}}</a>
                                            </li>
                                            <li>
                                                <a *ngIf="permission.isGranted('Pages.BudgetApprovers.Edit')"
                                                   (click)="createOrEditBudgetApproverModal.show(record.budgetApprover.id)">{{l('Edit')}}</a>
                                            </li>
                                            <li>
                                                <a *ngIf="permission.isGranted('Pages.BudgetApprovers.Delete')"
                                                   (click)="deleteBudgetApprover(record.budgetApprover)">{{l('Delete')}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </p-column>




					<p-column field="budgetApprover.userId" header="{{l('UserId')}}" [sortable]="true"></p-column> 

					<p-column field="budgetApprover.budgetUseId" header="{{l('BudgetUseId')}}" [sortable]="true"></p-column> 

					<p-column field="budgetApprover.budgetId" header="{{l('BudgetId')}}" [sortable]="true"></p-column> 

					<p-column field="budgetApprover.useStatusId" header="{{l('UseStatusId')}}" [sortable]="true"></p-column> 

					<p-column field="budgetApprover.requestAmount" header="{{l('RequestAmount')}}" [sortable]="true"></p-column> 

					<p-column field="budgetApprover.actualAmount" header="{{l('ActualAmount')}}" [sortable]="true"></p-column> 



                        </p-dataTable>


                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getBudgetApprovers($event)"
                                         [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditBudgetApproverModal #createOrEditBudgetApproverModal (modalSave)="getBudgetApprovers()"></createOrEditBudgetApproverModal>
    <viewBudgetApproverModal #viewBudgetApproverModal></viewBudgetApproverModal>
</div>