<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #budgetApproverForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="budgetApprover.id">{{l("EditBudgetApprover")}}</span>
                        <span *ngIf="!budgetApprover.id">{{l("CreateNewBudgetApprover")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="BudgetApprover_UserId">{{l("UserId")}}</label>
                        <input type="number" id="BudgetApprover_UserId" class="form-control"
                               [(ngModel)]="budgetApprover.userId" name="UserId"/>
                    </div>

                    <div class="form-group">
                        <label for="BudgetApprover_BudgetUseId">{{l("BudgetUseId")}}</label>
                        <input type="number" id="BudgetApprover_BudgetUseId" class="form-control"
                               [(ngModel)]="budgetApprover.budgetUseId" name="BudgetUseId"/>
                    </div>

                    <div class="form-group">
                        <label for="BudgetApprover_BudgetId">{{l("BudgetId")}}</label>
                        <input type="number" id="BudgetApprover_BudgetId" class="form-control"
                               [(ngModel)]="budgetApprover.budgetId" name="BudgetId"/>
                    </div>

                    <div class="form-group">
                        <label for="BudgetApprover_UseStatusId">{{l("UseStatusId")}}</label>
                        <input type="number" id="BudgetApprover_UseStatusId" class="form-control"
                               [(ngModel)]="budgetApprover.useStatusId" name="UseStatusId"/>
                    </div>

                    <div class="form-group">
                        <label for="BudgetApprover_RequestAmount">{{l("RequestAmount")}}</label>
                        <input type="number" id="BudgetApprover_RequestAmount" class="form-control"
                               [(ngModel)]="budgetApprover.requestAmount" name="RequestAmount"/>
                    </div>

                    <div class="form-group">
                        <label for="BudgetApprover_ActualAmount">{{l("ActualAmount")}}</label>
                        <input type="number" id="BudgetApprover_ActualAmount" class="form-control"
                               [(ngModel)]="budgetApprover.actualAmount" name="ActualAmount"/>
                    </div>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                            (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!budgetApproverForm.form.valid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>
