<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("UserId")}} :</h6>
                        {{item.budgetApprover.userId}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("BudgetUseId")}} :</h6>
                        {{item.budgetApprover.budgetUseId}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("BudgetId")}} :</h6>
                        {{item.budgetApprover.budgetId}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("UseStatusId")}} :</h6>
                        {{item.budgetApprover.useStatusId}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("RequestAmount")}} :</h6>
                        {{item.budgetApprover.requestAmount}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ActualAmount")}} :</h6>
                        {{item.budgetApprover.actualAmount}}
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
