<div [@routerTransition]>
    <div [hidden]="!isGrantedAny('Pages.Budgets.Edit', 'Pages.Budgets.Delete')">
        <div class="m-subheader">
            <div class="d-flex align-items-center">
                <div class="mr-auto col-md-6">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("CustodianPendingActivity")}}</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">

                    <form class="horizontal-form" autocomplete="off">
                        <div class="m-form m-form--label-align-right">
                            <div class="row align-items-center m--margin-bottom-10">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filter" name="filter" autoFocus
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getCustodianPendingAction()" class="btn btn-primary"
                                                    type="submit"><i class="flaticon-search-1"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                            <p-dataTable #dataTable (onLazyLoad)="getCustodianPendingAction($event)"
                                [value]="primengDatatableHelper.records"
                                rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" emptyMessage="{{l('NoData')}}" scrollable="true" ScrollWidth="100%"
                                responsive="primengDatatableHelper.isResponsive"
                                resizableColumns="primengDatatableHelper.resizableColumns">


                                <p-column field="" header="{{l('Actions')}}" [sortable]="false"
                                    [style]="{'width':'130px','text-align':'center'}">
                                    <ng-template let-record="rowData" pTemplate="body">
                                        <div class="btn-group dropdown" normalizePosition>
                                            <button class="dropdown-toggle btn btn-sm btn-primary"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a (click)="detailModal.show(record)">{{l('Views')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column field="budgetUse.description" header="{{l('UtilizeDescription')}}" [sortable]="true"
                                    [style]="{'width':'280px'}"></p-column>

                                <p-column field="budget.description" header="{{l('BudgetItem')}}" [sortable]="true"
                                    [style]="{'width':'280px'}"></p-column>



                                <p-column field="budgetUse.requestAmount" header="{{l('RequestAmount')}}" [sortable]="true"
                                [style]="{'width':'280px'}">
                                    <ng-template let-col let-item="rowData" pTemplate="body">
                                        RM {{item.budgetUse.requestAmount | mask:'comma_separator.2'}}
                                    </ng-template>
                                </p-column>

                                <p-column field="budgetUse.actualAmount" header="{{l('ActualAmount')}}"
                                    [sortable]="true" [style]="{'width':'280px'}">
                                    <ng-template let-col let-item="rowData" pTemplate="body">
                                        RM {{item.budgetUse.actualAmount | mask:'comma_separator.2'}}
                                    </ng-template>
                                </p-column>

                                <p-column field="requestStatus" header="{{l('Status')}}" [sortable]="true" [style]="{'width':'280px'}"></p-column>
                            </p-dataTable>


                            <div class="primeng-paging-container">
                                <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}" #paginator
                                    (onPageChange)="getCustodianPendingAction($event)"
                                    [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-detail-modal #detailModal (modalSave)="getCustodianPendingAction()"></app-detail-modal>
</div>
