<div bsModal #detailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-full-width">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("")}}Pending Activity Details</span>
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="active">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <h5>Budget Request / Utilization</h5>
                    </div>
                </div>
                <div class="row px-3">
                    <div class="col-lg-4 col-md-6 font-size-higlight mb-3">
                        <h6>{{l('TotalUtilizationRequest')}}</h6>
                        {{data.budgetUse.requestAmount | currency:'RM ':'code'}}
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <h6>{{l('ActualAmount')}}</h6>
                        {{data.actualAmount | currency:'RM ':'code'}}
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <h6>{{l('BudgetDescription')}}</h6>
                        {{data.budgetUse.description}}
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <h6>{{l("RequestStatus")}}</h6>
                        {{data.requestStatus}}
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <h6>{{l("RequestBy")}}</h6>
                        {{user.user.name}}
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <h6>{{l("Department")}}</h6>
                        {{data.budgetUse.organizationUnit.displayName}}
                    </div>
                </div>
                <hr>
                <div class="container-fluid" *ngIf="data.budget">
                    <h5>From Budgets {{data.budget.organizationUnit.displayName}}</h5>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 mb-4">
                                        <h6>{{l("BudgetItem")}}</h6>
                                        {{data.budget.description}}
                                    </div>

                                    <div class="col-lg-4 col-md-4 mb-4 font-size-higlight">
                                        <h6>{{l("CurrentAmount")}} :</h6>
                                        {{data.budget.estimatedBalance | currency:'RM ':'code'}}
                                    </div>

                                    <div class="col-lg-4 col-md-6 font-size-higlight mb-3">
                                        <h6>{{l('AmountRequested')}}</h6>
                                        {{data.requestAmount | currency:'RM ':'code'}}
                                    </div>
                                    <div class="col-lg-4 col-md-4 mb-4">
                                        <h6>{{l("Year")}}:</h6>
                                        {{data.budget.budgetYear}}
                                    </div>


                                    <div class="col-lg-4 col-md-4 mb-4">
                                        <h6>{{l("BudgetType")}}:</h6>
                                        {{data.budget.budgetType}}
                                    </div>
                                    <div class="col-lg-4 col-md-4 mb-4">
                                        <h6>{{l("BudgetCategory")}}:</h6>
                                        {{data.budget.descriptionType}}
                                    </div>
                                    <div class="col-lg-4 col-md-4 mb-4">
                                        <h6>{{l("Remark")}} :</h6>
                                        {{data.budget.remark}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr *ngIf="data.budgetUse.binaryObjects.length > 0">
                <h5 *ngIf="data.budgetUse.binaryObjects.length > 0">Attachment</h5>
                <div class="card mb-3" *ngFor="let att of data.budgetUse.binaryObjects; let i = index">
                    <div class="card-header">
                        <h6 class="card-subtitle mb-2 text-muted">Attachment {{i + 1}}</h6>
                        <a href="{{getUrl}}?fileId={{att.id}}&contentType={{att.contentType}}">
                            {{att.name}}
                        </a>
                        <p>{{att.remark}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <!--                for other department budget-->
                <div class="width-percent-100 text-right"
                    *ngIf="data.ownBudget === false && data.requestStatus == 'Submitted'">
                    <button class="btn btn-success" (click)="approved('Approved', data)">{{l("Approve")}}</button>
                    <button class="btn btn-danger" (click)="approved('Rejected', data)">{{l("Reject")}}</button>
                </div>
                <!--                for own budget-->
                <div class="width-percent-100 text-right"
                    *ngIf="(data.requestStatus == 'Approved') || (data.ownBudget === true && data.requestStatus == 'Submitted')">
                    <button class="btn btn-success"
                        (click)="approved('VerifiedAndReserved', data)">{{l("VerifiedAndReserve")}}</button>
                    <button class="btn btn-danger" (click)="approved('Declined', data)">{{l("Decline")}}</button>
                </div>
                <div class="width-percent-100 text-right">
                    <button type="button" class="btn btn-default blue" (click)="close()">{{l("Close")}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
