<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #budgetRequestForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="budgetRequest.id">{{l("EditBudgetRequest")}}</span>
                        <span *ngIf="!budgetRequest.id">{{l("CreateNewBudgetRequest")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="BudgetDescription">{{l("Budget")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="BudgetDescription" name="budgetDescription" [(ngModel)]="budgetDescription" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectBudgetModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setBudgetIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="budgetRequest.budgetId" [(ngModel)]="budgetRequest.budgetId" type="text"  hidden>
		 
					<div class="form-group m-form__group">
                        <label for="BudgetUseDescription">{{l("BudgetUse")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="BudgetUseDescription" name="budgetUseDescription" [(ngModel)]="budgetUseDescription" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectBudgetUseModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setBudgetUseIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="budgetRequest.budgetUseId" [(ngModel)]="budgetRequest.budgetUseId" type="text"  hidden>
		 


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!budgetRequestForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<budgetLookupTableModal #budgetLookupTableModal (modalSave)="getNewBudgetId()"></budgetLookupTableModal>
		 <budgetUseLookupTableModal #budgetUseLookupTableModal (modalSave)="getNewBudgetUseId()"></budgetUseLookupTableModal>
		 
</div>