<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>All Budget</span>
                </h3>
                <span class="m-section__sub">
                    {{l("BudgetsHeaderInfo")}}
                </span>
            </div>
            <div class="col-md-6 text-right">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i
                    class="far fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Budgets.Create')" (click)="createBudget()"
                        class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewBudget")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                               class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                               type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getBudgets()" class="btn btn-primary"
                                                    type="submit"><i
                                                class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12">
                                <div class="m-separator m-separator--dashed"></div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="DescriptionFilter">{{l("Description")}}</label>
                                    <input type="text" id="DescriptionFilter" class="form-control"
                                           name="descriptionFilter" [(ngModel)]="descriptionFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinBudgetAmountFilter">{{l("MinMax")}} {{l("BudgetAmount")}}</label>
                                    <div class="input-group">
                                        <input type="number" id="MinBudgetAmountFilter" class="form-control"
                                               [(ngModel)]="minBudgetAmountFilter" placeholder="{{l('MinValue')}}"
                                               name="minBudgetAmountFilter"/>
                                        <input type="number" class="form-control" [(ngModel)]="maxBudgetAmountFilter"
                                               placeholder="{{l('MaxValue')}}" name="maxBudgetAmountFilter"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinUtilizedBudgetFilter">{{l("MinMax")}} {{l("UtilizedBudget")}}</label>
                                    <div class="input-group">
                                        <input type="number" id="MinUtilizedBudgetFilter" class="form-control"
                                               [(ngModel)]="minUtilizedBudgetFilter" placeholder="{{l('MinValue')}}"
                                               name="minUtilizedBudgetFilter"/>
                                        <input type="number" class="form-control" [(ngModel)]="maxUtilizedBudgetFilter"
                                               placeholder="{{l('MaxValue')}}" name="maxUtilizedBudgetFilter"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinCurrentAmountFilter">{{l("MinMax")}} {{l("CurrentAmount")}}</label>
                                    <div class="input-group">
                                        <input type="number" id="MinCurrentAmountFilter" class="form-control"
                                               [(ngModel)]="minCurrentAmountFilter" placeholder="{{l('MinValue')}}"
                                               name="minCurrentAmountFilter"/>
                                        <input type="number" class="form-control" [(ngModel)]="maxCurrentAmountFilter"
                                               placeholder="{{l('MaxValue')}}" name="maxCurrentAmountFilter"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="RemarkFilter">{{l("Remark")}}</label>
                                    <input type="text" id="RemarkFilter" class="form-control" name="remarkFilter"
                                           [(ngModel)]="remarkFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="BudgetTypeNameFilter">({{l("BudgetType")}}) {{l("Name")}}</label>
                                    <input type="text" class="form-control" id="BudgetTypeNameFilter"
                                           name="budgetTypeNameFilter" [(ngModel)]="budgetTypeNameFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="GLCodeCodeFilter">({{l("GLCode")}}) {{l("Code")}}</label>
                                    <input type="text" class="form-control" id="GLCodeCodeFilter"
                                           name="glCodeCodeFilter" [(ngModel)]="glCodeCodeFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="DescriptionTypeNameFilter">({{l("DescriptionType")}}
                                        ) {{l("Name")}}</label>
                                    <input type="text" class="form-control" id="DescriptionTypeNameFilter"
                                           name="descriptionTypeNameFilter" [(ngModel)]="descriptionTypeNameFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="BudgetYearYearFilter">({{l("BudgetYear")}}) {{l("Year")}}</label>
                                    <input type="text" class="form-control" id="BudgetYearYearFilter"
                                           name="budgetYearYearFilter" [(ngModel)]="budgetYearYearFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="OrganizationUnitDisplayNameFilter">({{l("OrganizationUnit")}}
                                        ) {{l("DisplayName")}}</label>
                                    <input type="text" class="form-control" id="OrganizationUnitDisplayNameFilter"
                                           name="organizationUnitDisplayNameFilter"
                                           [(ngModel)]="organizationUnitDisplayNameFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                      (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                    class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                      (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                    class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengDatatableHelper.isLoading">
                        <p-dataTable #dataTable
                                     (onLazyLoad)="getBudgets($event)"
                                     [value]="primengDatatableHelper.records"
                                     rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     emptyMessage="{{l('NoData')}}"
                                     scrollable="true"
                                     ScrollWidth="100%"
                                     responsive="primengDatatableHelper.isResponsive"
                                     resizableColumns="primengDatatableHelper.resizableColumns">

                            <p-column field=""
                                      header="{{l('Actions')}}"
                                      [sortable]="false"
                                      [style]="{'width':'130px','text-align':'center'}"
                                      [hidden]="!isGrantedAny('Pages.Budgets.Edit', 'Pages.Budgets.Delete', 'Pages.Budgets.View')">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <div class="btn-group dropdown" normalizePosition>
                                        <button class="dropdown-toggle btn btn-sm btn-primary"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a
                                                    (click)="viewBudgetModal.show(record)">{{l('View')}}</a>
                                            </li>
                                            <li>
                                                <a *ngIf="permission.isGranted('Pages.Budgets.Edit')"
                                                   (click)="createOrEditBudgetModal.show(record.budget.id)">{{l('Edit')}}</a>
                                            </li>
                                            <li>
                                                <a *ngIf="permission.isGranted('Pages.Budgets.Delete')"
                                                   (click)="deleteBudget(record.budget)">{{l('Delete')}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </p-column>


                            <p-column field="budgetTypeName" header="{{l('BudgetTypeName')}}"
                                      [sortable]="true" [style]="{'width':'200px'}"></p-column>

                            <p-column field="glCodeCode" header="{{l('GLCodeCode')}}" [sortable]="true" [style]="{'width':'200px'}"></p-column>

                            <p-column field="descriptionTypeName" header="{{l('DescriptionTypeName')}}"
                                      [sortable]="true" [style]="{'width':'220px'}"></p-column>

                            <p-column field="budgetYearYear" header="{{l('BudgetYearYear')}}"
                                      [sortable]="true"></p-column>

                            <p-column field="organizationUnitDisplayName" header="{{l('OrganizationUnitDisplayName')}}"
                                      [sortable]="true" [style]="{'width':'280px'}"></p-column>


                            <p-column field="budget.description" header="{{l('Description')}}"
                                      [sortable]="true" [style]="{'width':'200px'}"></p-column>

                            <p-column field="budget.budgetAmount" header="{{l('BudgetAmount')}}"
                                      [sortable]="true" [style]="{'width':'200px'}">
                                <ng-template let-col let-item="rowData" pTemplate="body">
                                    RM {{item.budget.budgetAmount | mask:'comma_separator.2'}}
                                </ng-template>
                            </p-column>

                            <p-column field="budget.utilizedBudget" header="{{l('UtilizedBudget')}}"
                                      [sortable]="true" [style]="{'width':'200px'}">
                                <ng-template let-col let-item="rowData" pTemplate="body">
                                    RM {{item.budget.utilizedBudget | mask:'comma_separator.2'}}
                                </ng-template>
                            </p-column>

                            <p-column field="budget.currentAmount" header="{{l('CurrentAmount')}}"
                                      [sortable]="true" [style]="{'width':'200px'}">
                                <ng-template let-col let-item="rowData" pTemplate="body">
                                    RM {{item.budget.currentAmount | mask:'comma_separator.2'}}
                                </ng-template>
                            </p-column>

                            <p-column field="budget.remark" header="{{l('Remark')}}" [sortable]="true" [style]="{'width':'200px'}"></p-column>


                        </p-dataTable>


                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getBudgets($event)"
                                         [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditBudgetModal #createOrEditBudgetModal (modalSave)="getBudgets()"></createOrEditBudgetModal>
    <viewBudgetModal #viewBudgetModal></viewBudgetModal>
</div>
