<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-full-width">
        <div class="modal-content">
            <form *ngIf="active" #budgetForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="budget.id">{{l("Edit")}} {{l(this.budgetCategory)}}</span>
                        <span *ngIf="!budget.id">{{l("CreateNew")}} {{l(this.budgetCategory)}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-4" >
                            <label for="BudgetType">{{l("BudgetType")}}</label>
                            <select id="BudgetType" class="form-control" required [(ngModel)]="budget.budgetType" name="budgetType">
                                <option *ngFor="let item of budgetTypes" value="{{item.text}}">{{item.text}}</option>
                            </select>
                        </div>

                        <div class="col-md-6 mb-4">
                            <label for="Department">{{l("Department")}}</label>
                            <select name="organizationUnitId" id="Department" required="" class="form-control"
                                    [(ngModel)]="budget.organizationUnitId">
                                <option value=""></option>
                                <option *ngFor="let item of orgUnits" value="{{item.id}}">{{item.displayName}}</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-4" *ngIf="budgetCategory == 'Budgeted'">
                            <label for="GLCode">{{l("GLCode")}}</label>
                            <select name="glCodeId" id="GLCode" class="form-control" required
                                    [(ngModel)]="budget.glCodeId">
                                <option *ngFor="let item of glCodes" value="{{item.id}}">{{item.displayName}}</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-4" *ngIf="budgetCategory == 'Budgeted'">
                            <label for="DescriptionType">{{l("DescriptionType")}}</label>
                            <select name="descriptionType" id="DescriptionType" class="form-control" required
                                    [(ngModel)]="budget.descriptionType">
                                <option *ngFor="let item of descTypes" value="{{item.text}}">{{l(item.text)}}</option>
                            </select>
                        </div>
                        <hr>

                        <div class="col-md-6 mb-4" *ngIf="budgetCategory == 'Budgeted'">
                            <label for="Description">{{l("Description")}}</label>
                            <textarea type="text" class="form-control" id="Description" name="description" required
                                      [(ngModel)]="budget.description" row="3"></textarea>
                        </div>

                        <div class="col-md-6 mb-4" >
                            <label for="BudgetAmount">{{l("Budgeted Amount (RM)")}}</label>
                            <input type="text" class="form-control" id="BudgetAmount" name="budgetAmount" required
                                   [(ngModel)]="budget.budgetAmount" mask="comma_separator.2">
                        </div>
                        <div class="col-md-6 mb-4">
                            <label for="Year">{{l("Year")}}</label>
                            <input type="text" class="form-control" id="Year" name="budgetYear" maxlength="4"
                                   [(ngModel)]="budget.budgetYear" minValue="2017" required>
                        </div>

                        <div class="col-md-6 mb-4">
                            <div class="form-group">
                                <label for="Budget_Remark">{{l("Remark")}}</label>
                                <textarea type="text" id="Budget_Remark" class="form-control" [(ngModel)]="budget.remark"
                                       name="Remark" row="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                            (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!budgetForm.form.valid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
    <glCodeLookupTableModal #glCodeLookupTableModal (modalSave)="getNewGLCodeId()"></glCodeLookupTableModal>
    \
<!--    <organizationUnitLookupTableModal #organizationUnitLookupTableModal-->
<!--                                      (modalSave)="getNewOrganizationUnitId()"></organizationUnitLookupTableModal>-->

</div>
