<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-full-width" style="max-width: 1240px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("ViewBudgetDetail")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="active" class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3" *ngIf="!isUnbudgeted">
                        <h6>{{l("BudgetItem")}} :</h6>
                        {{item.description}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("BudgetAmount")}} :</h6>
                        {{item.budgetAmount | currency:'RM ':'code'}}
                    </div>
                    <div class="col-6 mb-3" *ngIf="!isUnbudgeted">
                        <h6>{{l("UtilizedBudget")}} :</h6>
                        {{item.utilizedBudget | currency:'RM ':'code'}}
                    </div>
                    <div class="col-6 mb-3" *ngIf="!isUnbudgeted">
                        <h6>{{l("CurrentAmount")}} :</h6>
                        {{item.estimatedBalance | currency:'RM ':'code'}}
                    </div>


                    <div class="col-6 mb-3">
                        <h6>{{l("BudgetType")}}</h6>
                        {{item.budgetType}}
                    </div>
                    <div class="col-6 mb-3" *ngIf="!isUnbudgeted">
                        <h6>{{l("GLCode")}}</h6>
                        {{item.glCode.code}} ({{item.glCode.description}})
                    </div>
                    <div class="col-6 mb-3" *ngIf="!isUnbudgeted">
                        <h6>{{l("DescriptionType")}}</h6>
                        {{item.descriptionType}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("BudgetYear")}}</h6>
                        {{item.budgetYear}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("OrganizationUnit")}}</h6>
                        {{item.organizationUnit.displayName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Remark")}}</h6>
                        {{item.remark}}
                    </div>
                </div>


                <div class="row" *ngIf="item.budgetRequests && !isUnbudgeted">
                    <div class="col-md-12 pt-3">
                        <hr>
                        <h6>Budget Utilization</h6>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{{l("BudgetDescription")}}</th>
                                    <th scope="col">{{l("Amount")}}</th>
                                    <th scope="col">{{l("RequestBy")}}</th>
                                    <th scope="col">{{l("ApprovalStatus")}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let br of item.budgetRequests; index as i">
                                    <th scope="row">{{i + 1}}</th>
                                    <td>{{br.budgetUse.description}}</td>
                                    <td>
                                        {{br.requestAmount | currency:'RM ':'code' }}<br>
                                    </td>
                                    <td>{{br.user.name}}
                                        {{br.budgetUse.organizationUnit ? '( ' + br.budgetUse.organizationUnit.displayName + ' )' : ''}}
                                    </td>
                                    <td>
                                        <div>{{l(br.requestStatus)}}</div>
                                        <div *ngIf="br.budgetOwnerRequestStatus">
                                            <span *ngIf="br.ownerApproval">
                                                <small>{{br.ownerApproval.name}} has {{l(br.budgetOwnerRequestStatus)}}
                                                    on {{br.budgetOwnerApproval | date:'short'}}</small>
                                            </span>
                                        </div>
                                        <!-- {{br.budgetCustodianRequestStatus}}
                                        {{br.custodianApproval}} -->
                                        <div *ngIf="br.budgetCustodianRequestStatus">
                                            <span *ngIf="br.custodianApproval">
                                                <small>{{br.custodianApproval.name}} has
                                                    {{l(br.budgetCustodianRequestStatus)}} on
                                                    {{br.budgetCustodianApproval | date:'short'}}</small>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue"
                    (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
