<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("PickBudget")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <form class="horizontal-form" autocomplete="off" #lookupBudget="ngForm">
                        <!-- main search box -->
                        <div class="m-form m-form--label-align-right">
                            <div class="row align-items-center m--margin-bottom-10">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getAll()" class="btn btn-primary" type="submit"><i
                                                        class="flaticon-search-1"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Advance search -->
                            <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
                                <div class="col-md-12">
                                    <div class="m-separator m-separator--dashed"></div>
                                </div>

                                <div class="col-md-6" *ngIf="budgetOwn !==  'own'">
                                    <div class="form-group">
                                        <label for="DepartmentFilter">{{l("Department")}}</label>
                                        <select id="DepartmentFilter" class="form-control" required
                                            [(ngModel)]="organizationUnitDisplayNameFilter"
                                            name="organizationUnitDisplayNameFilter">
                                            <option value=""></option>
                                            <option *ngFor="let item of departments" value="{{item.id}}">
                                                {{item.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="BudgetType">{{l("BudgetType")}}</label>
                                        <select id="BudgetType" class="form-control" required
                                            [(ngModel)]="budgetTypeNameFilter" name="budgetTypeNameFilter">
                                            <option value=""></option>
                                            <option *ngFor="let item of budgetTypes" value="{{item.text}}">{{l(item.text)}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="DescriptionType">{{l("DescriptionType")}}</label>
                                        <select id="DescriptionType" class="form-control" required
                                            [(ngModel)]="descriptionTypeNameFilter" name="descriptionTypeNameFilter">
                                            <option value=""></option>
                                            <option *ngFor="let item of descriptionTypes" value="{{item.text}}">
                                                {{l(item.text)}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="YearFilter">{{l("Year")}}</label>
                                        <input type="text" [(ngModel)]="budgetYearYearFilter"
                                            name="budgetYearYearFilter" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <!-- Button open n close advance search -->
                            <div class="row margin-bottom-10">
                                <div class="col-sm-12">
                                    <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                            class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                    <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                            class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                            <p-dataTable #dataTable (onLazyLoad)="getAll($event)"
                                [value]="primengDatatableHelper.records" rows="5" [paginator]="false" [lazy]="true"
                                emptyMessage="{{l('NoData')}}" scrollable="true" ScrollWidth="100%"
                                responsive="primengDatatableHelper.isResponsive"
                                resizableColumns="primengDatatableHelper.resizableColumns">

                                <p-column field="" header="{{l('Actions')}}" [sortable]="false"
                                    [style]="{'width':'130px','text-align':'center'}">
                                    <ng-template let-record="rowData" pTemplate="body">
                                        <div class="btn-group dropdown" normalizePosition>
                                            <button class="btn btn-sm btn-primary" type="button"
                                                (click)="setAndSave(record)">
                                                {{l("Select")}}
                                            </button>
                                        </div>
                                    </ng-template>
                                </p-column>

                                <p-column field="description" header="{{ l('Description')}}" [sortable]="true">
                                </p-column>
                                <p-column field="" header="{{ l('CurrentAmount')}}" [sortable]="true">
                                    <ng-template let-col let-item="rowData" pTemplate="body">
                                        RM {{item.estimatedBalance | mask:'comma_separator.2'}}
                                    </ng-template>
                                </p-column>

                            </p-dataTable>


                            <div class="primeng-paging-container">
                                <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}" #paginator
                                    styleClass="budget-lookup-table-paginator" (onPageChange)="getAll($event)"
                                    [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue"
                    (click)="close(lookupBudget)">{{l("Close")}}</button>
            </div>
        </div>
    </div>
</div>
