<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("BudgetUses")}}</span>
                </h3>
            </div>
            <div class="col-md-6 text-right">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="far fa-file-excel"></i>
                    {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.BudgetUses.Create') && department == true" (click)="createBudgetUse()"
                    class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewBudgetUse")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="descriptionFilter" name="descriptionFilter" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getBudgetUses()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12">
                                <div class="m-separator m-separator--dashed"></div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="PaperStatusFilter">{{l("PaperStatus")}}</label>
                                    <select id="PaperStatusFilter" class="form-control" required
                                        [(ngModel)]="paperStatusFilter" name="paperStatusFilter">
                                        <option value=""></option>
                                        <option *ngFor="let item of paperStatus" value="{{item}}">{{l(item)}}</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="RequestStatusFilter">{{l("RequestStatus")}}</label>
                                    <select id="RequestStatusFilter" class="form-control" required
                                        [(ngModel)]="requestStatusFilter" name="RequestStatusFilter">
                                        <option value=""></option>
                                        <option *ngFor="let item of requestStatus" value="{{item}}">{{l(item)}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="YearFilter">{{l("Year")}}</label>
                                    <input type="text" [(ngModel)]="yearFilter" name="YearFilter" class="form-control">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                        <p-dataTable #dataTable (onLazyLoad)="getBudgetUses($event)"
                            [value]="primengDatatableHelper.records"
                            rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                            [lazy]="true" emptyMessage="{{l('NoData')}}" scrollable="true" ScrollWidth="100%"
                            responsive="primengDatatableHelper.isResponsive"
                            resizableColumns="primengDatatableHelper.resizableColumns">

                            <p-column field="" header="{{l('Actions')}}" [sortable]="false"
                                [style]="{'width':'130px','text-align':'center'}"
                                [hidden]="!isGrantedAny('Pages.BudgetUses.Edit', 'Pages.BudgetUses.Delete')">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <div class="btn-group dropdown" normalizePosition *ngIf="department == true">
                                        <button class="dropdown-toggle btn btn-sm btn-primary" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                        </button>
                                        <ul class="dropdown-menu" *ngIf="department == true">
                                            <li>
                                                <a (click)="viewBudgetUseModal.show(record.id)">{{l('View')}}</a>
                                            </li>
                                            <li>
                                                <a *ngIf="permission.isGranted('Pages.BudgetUses.Edit') && record.requestStatus === 'Submitted'"
                                                    (click)="createOrEditBudgetUseModal.show(record.id)">{{l('Edit')}}</a>
                                            </li>
                                            <li>
                                                <a *ngIf="permission.isGranted('Pages.BudgetUses.Delete') && record.requestStatus === 'Submitted'"
                                                    (click)="deleteBudgetUse(record.id)">{{l('Delete')}}</a>
                                                <a *ngIf="permission.isGranted('Pages.BudgetUses.Edit')
                                                && (record.requestStatus === 'Approved' || record.requestStatus === 'Verified And Reserved')"
                                                    (click)="createOrEditBudgetUseModal.UpdateAM(record.id)">{{l('Edit`')}}</a>
                                            </li>
                                        </ul>

                                        <ul class="dropdown-menu" *ngIf="department == false">
                                            <li>
                                                <a (click)="viewBudgetUseModal.show(record.id)">{{l('View')}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="btn btn-sm btn-primary" *ngIf="department == false" type="button"
                                        (click)="viewBudgetUseModal.show(record.id)">
                                        <span class="caret"></span> {{l("View")}}
                                    </button>
                                </ng-template>
                            </p-column>

                            <!-- Budget Type -->
                            <!-- <p-column field="budgetRequests" header="{{l('BudgetType')}}"
                                [style]="{'width':'200px'}">

                                <ng-template let-col let-item="rowData" pTemplate="body">
                                    <div *ngIf="item.budgetRequests.length <= 1">
                                        <span *ngFor="let br of item.budgetRequests">
                                            {{l(br.budget.budgetType)}}
                                        </span>
                                    </div>

                                    <span *ngIf="item.budgetRequests.length > 1">
                                        <ol style="margin-bottom: 0px; padding-left: 14px;">
                                            <li *ngFor="let item of item.budgetRequests">
                                                {{item.budget.budgetType}}
                                            </li>
                                        </ol>
                                    </span>
                                </ng-template>
                            </p-column> -->

                            <!-- GL Code -->
                            <!-- <p-column field="budgetRequests" header="{{l('GLCode')}}"
                                [style]="{'width':'280px'}">

                                <ng-template let-col let-item="rowData" pTemplate="body">
                                    <div *ngIf="item.budgetRequests.length <= 1">
                                        <span *ngFor="let br of item.budgetRequests">
                                            {{br.budget.glCode.code}} - {{br.budget.glCode.description}}
                                        </span>
                                    </div>

                                    <span *ngIf="item.budgetRequests.length > 1">
                                        <ol style="margin-bottom: 0px; padding-left: 14px">
                                            <li *ngFor="let br of item.budgetRequests">{{br.budget.glCode.code}} -
                                                {{br.budget.glCode.description}}</li>
                                        </ol>
                                    </span>
                                </ng-template>
                            </p-column> -->

                            <!-- budget Description => budget item -->
                            <!-- <p-column field="description" header="{{l('BudgetItem')}}"
                                [style]="{'width':'280px'}">

                                <ng-template let-col let-item="rowData" pTemplate="body">
                                    <div *ngIf="item.budgetRequests.length <= 1">
                                        <span *ngFor="let br of item.budgetRequests">
                                            {{br.budget.glCode.code}} - {{br.budget.glCode.description}}
                                        </span>
                                    </div>

                                    <span *ngIf="item.budgetRequests.length > 1" style="padding: 8px 10px !important;">
                                        <ol style="margin-bottom: 0px; padding-left: 14px">
                                            <li *ngFor="let br of item.budgetRequests">
                                                {{br.budget.description}}
                                            </li>
                                        </ol>
                                    </span>
                                </ng-template>
                            </p-column> -->

                            <!-- DescriptionType => BudgetCategory -->
                            <!-- <p-column field="budgetRequests" header="{{l('DescriptionType')}}"
                                [style]="{'width':'280px'}">

                                <ng-template let-col let-item="rowData" pTemplate="body">
                                    <div *ngIf="item.budgetRequests.length <= 1">
                                        <span *ngFor="let br of item.budgetRequests">
                                            {{br.budget.descriptionType}}
                                        </span>
                                    </div>

                                    <span *ngIf="item.budgetRequests.length > 1">
                                            <ol style="margin-bottom: 0px; padding-left: 14px">
                                                <li *ngFor="let br of item.budgetRequests">
                                                    {{br.budget.descriptionType}}
                                                </li>
                                            </ol>
                                        </span>
                                </ng-template>
                            </p-column> -->

                            <!-- Budget utilize Description => budget description -->
                            <p-column field="description" header="{{l('UtilizeDescription')}}" [sortable]="true"
                                [style]="{'width':'280px'}"></p-column>

                            <!-- Request Amount -->
                            <p-column field="requestAmount" header="{{l('RequestedAmount')}}" [sortable]="true"
                                [style]="{'width':'280px'}">
                                <ng-template let-col let-item="rowData" pTemplate="body">
                                    RM {{item.requestAmount | mask:'comma_separator.2'}}
                                </ng-template>
                            </p-column>

                            <!-- Request Status -->
                            <p-column field="requestStatus" header="{{l('RequestStatus')}}" [sortable]="true"
                                [style]="{'width':'280px'}">
                            </p-column>

                            <!-- Paper Status -->
                            <p-column field="paperStatus" header="{{l('PaperStatus')}}" [sortable]="true"
                                [style]="{'width':'280px'}"></p-column>

                            <!-- Actual Amount -->
                            <p-column field="actualAmount" header="{{l('ActualAmount')}}" [sortable]="true"
                                [style]="{'width':'280px'}">
                                <ng-template let-col let-item="rowData" pTemplate="body">
                                    RM {{item.actualAmount | mask:'comma_separator.2'}}
                                </ng-template>
                            </p-column>

                            <!-- Year : get CreationTIme -->
                            <p-column field="creationTime" header="{{l('Year')}}" [sortable]="true"
                                [style]="{'width':'180px'}">
                                <ng-template let-col let-item="rowData" pTemplate="body">
                                    {{item.creationTime._a[0]}}
                                </ng-template>
                            </p-column>


                        </p-dataTable>


                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}" #paginator
                                (onPageChange)="getBudgetUses($event)"
                                [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditBudgetUseModal #createOrEditBudgetUseModal (modalSave)="getBudgetUses()"></createOrEditBudgetUseModal>
    <viewBudgetUseModal #viewBudgetUseModal></viewBudgetUseModal>
</div>
