<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-full-width" style="max-width: 1240px">
        <div class="modal-content">
            <form *ngIf="active" #budgetUseForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="budgetUse.budgetUse.id">Edit Budget For Utilization</span>

                        <span *ngIf="!budgetUse.budgetUse.id">Request Budget For Utilization</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: calc(100vh - 220px); overflow: auto;">

                    <!-- Form begin -->
                    <div class="form-group m-form__group" *ngIf="!isUpdateActualAmount">
                        <label>{{l("Budget")}} from your department <span class="required">*</span></label>
                        <div>
                            <button type="button" class="btn btn-primary"
                                (click)="openSelectBudgetModal()">{{l("Own Budgets")}}</button>


                            <button type="button" class="btn btn-info"
                                (click)="openSelectBudgetModal('others')">{{l("Other Department Budgets")}}</button>
                        </div>
                    </div>

                    <div class="col-md-12 pt-3" *ngIf="budgetUse.budgetUse.budgetRequests">
                        <div class="card" *ngFor=" let br of budgetUse.budgetUse.budgetRequests; let i = index">
                            <div class="card-body" style="max-height: calc(100vh - 220px);">
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <h6 class="card-subtitle mb-2 text-muted">{{l('OrganizationUnit')}}</h6>
                                        <p class="card-text">
                                            {{br.budget.organizationUnit ? br.budget.organizationUnit.displayName : ''}}
                                        </p>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <h6 class="card-subtitle mb-2 text-muted">{{l('Description')}}</h6>
                                        <p class="card-text">{{br.budget.description}}</p>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <h6 class="card-subtitle mb-2 text-muted">{{l('BudgetTypeName')}}</h6>
                                        <p class="card-text">{{br.budget.budgetType}}</p>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <h6 class="card-subtitle mb-2 text-muted">{{l('DescriptionTypeName')}}</h6>
                                        <p class="card-text">{{br.budget.descriptionType}}</p>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <h6 class="card-subtitle mb-2 text-muted">{{l('BudgetYear')}}</h6>
                                        <p class="card-text">{{br.budget.budgetYear}}</p>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <h6 class="card-subtitle mb-2 text-muted">{{l('CurrentAmount')}}</h6>
                                        <p class="card-text">{{br.budget.estimatedBalance  | currency:'RM ':'code'}}</p>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <h6 class="card-subtitle mb-2 text-muted">Amount to request <span
                                                class="required">*</span></h6>
                                        <input [disabled]="isUpdateActualAmount" type="text" class="form-control"
                                            mask="comma_separator.2" name="requestAmount-{{i}}"
                                            [(ngModel)]="br.requestAmount" (input)="amountBudgetRequiredCalc()"
                                            required>
                                    </div>
                                </div>
                                <div class="row" *ngIf="!isUpdateActualAmount">
                                    <div class="col-md-12"><button type="button" class="btn btn-danger"
                                            (click)="removeBudgetSelect(br)">Remove</button></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="userDepartment.length>1">
                        <label for="departmentId">{{l("RequestForDepartment")}} <span class="required">*</span></label>
                        <select name="departmentId" id="departmentId" class="form-control" required
                            [(ngModel)]="budgetUse.budgetUse.organizationUnitId" [disabled]="isUpdateActualAmount">
                            <option *ngFor="let item of userDepartment" value="{{item.id}}">{{item.displayName}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="BudgetUse_Description">{{l("Description")}} <span class="required">*</span></label>
                        <input [disabled]="isUpdateActualAmount" type="text" id="BudgetUse_Description"
                            class="form-control" [(ngModel)]="budgetUse.budgetUse.description" name="Description"
                            required />
                    </div>

                    <div class="form-group">
                        <label for="useStatus">{{l("ConceptPaperStatus")}} <span class="required">*</span></label>
                        <select name="useStatud" id="useStatus" class="form-control" required
                            [(ngModel)]="budgetUse.budgetUse.paperStatus">
                            <option *ngFor="let item of paperStatus" value="{{item}}">{{l(item)}}</option>
                        </select>
                    </div>

                    <div class="form-group" *ngIf="edit">
                        <label for="BudgetUse_ActualAmount">{{l("ActualAmount")}}</label>
                        <input type="type" id="BudgetUse_ActualAmount" class="form-control"
                            [(ngModel)]="budgetUse.budgetUse.actualAmount"
                            [disabled]="budgetUse.budgetUse.paperStatus !== 'LOAIssued'" name="ActualAmount"
                            mask="comma_separator.2" required />
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{l("UploadDocument")}}</label>
                                <div>
                                    <p-fileUpload mode="basic" name="ChatFileUpload" [url]="uploadUrl"
                                        maxFileSize="10000000000" auto="auto" (onUpload)="onUploadFile($event)"
                                        (onBeforeSend)="onBeforeSend($event)" chooseLabel="{{l('File')}}">
                                    </p-fileUpload>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <h5>Attachment</h5>

                            <div class="card" *ngFor="let att of this.budgetUse.budgetUse.binaryObjects; let i = index">
                                <div class="card-header">
                                    <h6 class="card-subtitle mb-2 text-muted">Attachment {{i + 1}}</h6>
                                    <a href="{{getUrl}}?fileId={{att.id}}&contentType={{att.contentType}}">
                                        {{att.name}}
                                    </a>
                                    <button type="button" class="close" (click)="onDeleteAttachment(att.id)">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>
                                <div class="card-body">
                                    <div class="from-group">
                                        <textarea ref-textarea name="remark{{i}}" cols="30" rows="3"
                                            class="form-control" [(ngModel)]="att.remark">{{att.remark}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-center">
                        <button [disabled]="saving" type="button" class="btn btn-default"
                            (click)="close()">{{l("Cancel")}}</button>
                        <button type="submit" class="btn btn-primary blue"
                            [disabled]="!(budgetUseForm.form.valid)" [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                            <span>{{l("Save")}}</span></button>
                    </div>


                </div>
                
            </form>
        </div>
    </div>
    <budgetLookupTableModal #budgetLookupTableModal
        (modalSave)="addBudgetSelect(budgetLookupTableModal.budget, budgetLookupTableModal.budgetOwn)">
    </budgetLookupTableModal>

</div>