<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-full-width" style="max-width: 1240px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Budget Utilization Detail</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("BudgetDescription")}} :</h6>
                        {{item.description}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("PaperStatus")}} :</h6>
                        {{item.paperStatus}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("RequestAmount")}} :</h6>
                        {{item.requestAmount | currency:'RM ':'code'}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ActualAmount")}} :</h6>
                        {{item.actualAmount | currency:'RM ':'code'}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("RequestStatus")}} :</h6>
                        {{l(item.requestStatus)}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Department")}} :</h6>
                        {{item.organizationUnit.displayName}}
                    </div>
                </div>

                <hr>
                <h5>Budget Detail</h5>
                <div class="row pt-3" *ngFor="let budget of item.budgetRequests">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-6">
                                        <h6>{{l("RequestAmount")}} :</h6>
                                        <p>{{budget.requestAmount | currency:'RM '}}</p>
                                    </div>
                                    <div class="col-6">
                                        <h6>{{l("BudgetItem")}} :</h6>
                                        <p>{{budget.budget.description}}</p>
                                    </div>
                                    <div class="col-6">
                                        <h6>{{l("CurrentAmount")}} :</h6>
                                        <p>{{budget.budget.estimatedBalance | currency:'RM ':'code'}}</p>
                                    </div>
                                    <div class="col-6" *ngIf="budget.budget.remark">
                                        <h6>{{l("Remark")}} :</h6>
                                        <p>{{budget.budget.remark}}</p>
                                    </div>

                                    <div class="col-6">
                                        <h6>{{l("BudgetType")}} :</h6>
                                        <p>{{budget.budget.budgetType}}</p>
                                    </div>
                                    <div class="col-6">
                                        <h6>{{l("Department")}} :</h6>
                                        <p>{{budget.budget.organizationUnit.displayName}}</p>
                                    </div>
                                    <div class="col-6">
                                        <h6>{{l("GLCode")}}</h6>
                                        <p>{{budget.budget.glCode.code}} - {{budget.budget.glCode.description}}</p>
                                    </div>
                                    <div class="col-6">
                                        <h6>{{l("DescriptionType")}} :</h6>
                                        <p>{{budget.budget.descriptionType}}</p>
                                    </div>
                                    <div class="col-6">
                                        <h6>{{l("Year")}}</h6>
                                        <p>{{budget.budget.budgetYear}}</p>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr *ngIf="item.budgetRequests.length > 0">
                <h5 *ngIf="item.binaryObjects.length > 0">Attachment</h5>
                <div class="card mb-3" *ngFor="let att of item.binaryObjects; let i = index">
                    <div class="card-header">
                        <h6 class="card-subtitle mb-2 text-muted">Attachment {{i + 1}}</h6>
                        <a href="{{getUrl}}?fileId={{att.id}}&contentType={{att.contentType}}">
                            {{att.name}}
                        </a>
                        <p>{{att.remark}}</p>
                    </div>
                </div>

                <hr>
                <h5>Request by: </h5>
                <div class="row pt-3">
                    <div class="col-md-12">
                        <h6 class="pl-2">{{creatorUser.name}}</h6>
                        <p class="pl-2">{{creatorUser.emailAddress}} <br>
                            {{item.organizationUnit.displayName}} <br>
                            {{item.creationTime | date: 'short'}}
                        </p>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue"
                    (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
