<div [@routerTransition]>
    <div id="HostDashboard">
        <div class="m-subheader">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("DepartmentDashboard")}}</span>
                    </h3>
                    <span class="m-section__sub">
                    {{l("HostDashboardHeaderInfo")}}
                  </span>
                </div>
                <div class="d-block">
                    <mat-form-field>
                        <mat-select [(ngModel)]="currentYear" (change)="getNewData()">
                            <mat-option *ngFor="let year of years" [value]="year">
                                {{ year }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


            </div>
        </div>
        <div class="m-content">
            <div class="m-portlet">
                <div class="m-portlet__body  m-portlet__body--no-padding">
                    <div class="row m-row--no-padding m-row--col-separator-xl">
                        <div class="col-md-12 col-lg-6 col-xl-3">
                            <div class="m-widget24">
                                <div class="m-widget24__item">
                                    <h4 class="m-widget24__title">
                                        {{l("BudgetedAmount")}}
                                    </h4>
                                    <br>
                                    <span
                                        class="m-widget24__stats m--font-brand m-0 px-2">
                                        RM <span>{{dashboardIt.totalBudgeted | mask:'comma_separator.2'}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-3">
                            <div class="m-widget24">
                                <div class="m-widget24__item">
                                    <h4 class="m-widget24__title">
                                        {{l("BudgetBalance")}}
                                    </h4>
                                    <br>
                                    <span
                                        class="m-widget24__stats m--font-brand m-0 px-2">
                                        RM <span>{{dashboardIt.balanceBudgetd | mask:'comma_separator.2'}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-3">
                            <div class="m-widget24">
                                <div class="m-widget24__item">
                                    <h4 class="m-widget24__title">
                                        {{l("RequestedBudget")}}
                                    </h4>
                                    <br>
                                    <span
                                        class="m-widget24__stats m--font-brand m-0 px-2">
                                        RM <span>{{dashboardIt.totalBudgetUtilized | mask:'comma_separator.2'}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-3">
                            <div class="m-widget24">
                                <div class="m-widget24__item">
                                    <h4 class="m-widget24__title">
                                        {{l("UnbudgetedAmount")}}
                                    </h4>
                                    <br>
                                    <span
                                        class="m-widget24__stats m--font-brand m-0 px-2">
                                        RM <span>{{dashboardIt.totalUnbudgeted | mask:'comma_separator.2'}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="m-portlet m-portlet--full-height expiring-tenants">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-porlet__head-title">
                                    <div class="m-portlet__head-text">
                                        <span class="caption-subject bold">{{l("OPEXBudgetSummary")}}</span>
                                        <small><span class="span caption-helper">{{currentYear}}</span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <ngx-charts-advanced-pie-chart
                                class="chart-container"
                                [results]="opexPie"
                            >
                            </ngx-charts-advanced-pie-chart>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="m-portlet m-portlet--full-height expiring-tenants">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-porlet__head-title">
                                    <div class="m-portlet__head-text">
                                        <span class="caption-subject bold">{{l("CAPEXBudgetSummary")}}</span>
                                        <small><span class="span caption-helper">{{currentYear}}</span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <ngx-charts-advanced-pie-chart
                                class="chart-container"
                                    [results]="capexPie" [scheme]="colorScheme">
                            </ngx-charts-advanced-pie-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
